@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

* {
    --sb-track-color: #ebecec;
    --sb-thumb-color: #0c8ab7;
    --sb-size: 6px; /* Adjusted size for a thinner scrollbar */

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

*::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size); /* Also reduce the height for horizontal scrollbars */
}

*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px; /* Adjusted border-radius */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px; /* Adjusted border-radius */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
