@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

* {
    --sb-track-color: #bddbe7;
    --sb-thumb-color: #022750;
    --sb-size: 5px; /* Adjusted size for a thinner scrollbar */
}

*::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size); /* Also reduce the height for horizontal scrollbars */
}

*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px; /* Adjusted border-radius */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px; /* Adjusted border-radius */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
